.NoMatchPage {
    background-color: #d3ede2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.NoMatchPage-container {
    max-width: 780px;
    margin: 0 auto;
}
.NoMatchPage-link {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
}
