.NoMatchPage {
    background-color: #d3ede2;
    background: #d9a7c7; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #fffcdc,
        #d9a7c7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #fffcdc,
        #d9a7c7
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 60px);
}
.NoMatchPage-container {
    max-width: 780px;
    margin: 0 auto;
}
.NoMatchPage-title {
    font-size: 3rem;
}
.NoMatchPage-link {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
}
