.SearchPage {
    background-color: #f6f6f6;
    display: flex;
    min-height: 100vh;
    padding: 60px 0;
}
.SearchPage-container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}
.SearchPage-image-list {
    display: flex;
    flex-flow: row wrap;
}
