.SearchForm-input {
    display: block;
    width: 100%;
    margin: 1.5rem 0;
}
.SearchForm-button {
    background-color: #008dea;
    color: #fff;
}
.SearchForm-button:hover,
.SearchForm-button:focus,
.SearchForm-button:active {
    background-color: #007ed1;
}
