.IndexPage {
    background-color: #fcf8f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 60px);
    padding: 0 1rem;
}
.IndexPage-container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.IndexPage-title {
    margin-top: 0;
    margin-bottom: 1.4rem;
}
.IndexPage-description {
    margin: 0;
    color: #555555;
}

@media (min-width: 680px) {
    .IndexPage-container {
        width: 660px;
    }
}
@media (min-width: 800px) {
    .IndexPage-container {
        width: 780px;
    }
}
@media (min-width: 880px) {
    .IndexPage-container {
        width: 860px;
    }
}
