.IndexPage {
    background-color: #fcf8f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 60px);
}
.IndexPage-container {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 60px;
}
.IndexPage-title {
    margin-top: 0;
    margin-bottom: 1.4rem;
}
.IndexPage-description {
    margin: 0;
    color: #555555;
}
