/* Typography */
h1 {
    font-size: 4rem;
}
p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
a {
    color: #008dea;
}
a:hover,
a:focus,
a:active {
    color: #006ed1;
}

/* Form elements */
input[type='search'] {
    line-height: 1.2rem;
    padding: 1rem;
    background: #fff;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0 0 0 transparent inset;
    transition: color 0.1s ease, border-color 0.1s ease;
}
input[type='search']:focus,
input[type='search']:active {
    border-color: #008dea;
}
button {
    cursor: pointer;
    display: inline-block;
    min-height: 1rem;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0.25rem 0 0;
    padding: 0.8rem 1.5rem;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1rem;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset,
        0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    box-shadow: 0 0 0 1px transparent inset,
        0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    user-select: none;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
        box-shadow 0.1s ease, background 0.1s ease;
    -webkit-tap-highlight-color: transparent;
    text-transform: uppercase;
    text-shadow: none;
}
button:hover,
button:focus,
button:active {
    background-color: #cacbcd;
}

/* Footer */
.App-footer {
    width: 100%;
    text-align: center;
}
.App-footer-description {
    color: #555555;
    font-size: 0.9rem;
}
.App-footer-logo {
    width: 100px;
}

/* Media Queries */
@media (max-width: 576px) {
    h1 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}
