@import url('https://fonts.googleapis.com/css?family=Bitter:700|Rubik');
@import '~sanitize.css';

*,
*:before,
*:after {
    outline: 1px;
}
body {
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bitter', serif;
}
